@import url("font.css");

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Roboto";
	line-height: 1.42857143;
	font-size: 14px;
	color: #575757;
}

a{
	color: #2196f3;
	text-decoration: none;
}

h1,h2,h3,h4,h5{
	font-weight: 500;
	font-family: "Gotham"
}

.header{
	position: absolute;
	top: 20px;
	left: 0px;
	right: 0px;
	font-family: "Gotham";
	z-index: 100;
}

.header-single{
	position: relative;
	top: 0;
	width: 100%;
	padding: 20px 0;
	background-color: #1e272b;
}


.logo{
	float: left;
}

.logo > a{
	color: #FFFFFF;
}

.logo-top{
	font-size: 28px;
	display: block;
}

.logo-bottom{
	font-size: 12px;
}

.menu{
	list-style-type: none;
	display: block;
	float: right;
}

.menu > li{
	display: inline-block;
	height: 60px;
}

.menu > li >a {
	display: block;
	font-size: 15px;
	color: #FFFFFF;
	margin: 18px 10px;
	padding: 5px 0;
	transition: box-shadow 200ms ease-in;
}

.menu > li > a:hover, .active{
	box-shadow: 0px -2px 0px #FFFFFF inset;
}

.contact{
	display: block;
	margin-top: 10px;
	padding: 3px 0;
}

.hero{
	background-image: url("../img/hero.jpg");
	background-size: cover;
	background-position: center center;
	background-blend-mode: soft-light;
	background-color: rgba(0,0,0,.45);
	height: 100vh;
}

.hero > .container{
	display: table;
	height: 100vh;
}

.hero-item{
	display: table-cell;
	height: 100vh;
	vertical-align: middle;
	text-align: center;
	width: 100%;
}

.search{
	width: 100%;
}

.search .form-control{
	border: 0px;
	width: 700px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	font-style: italic;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
}

.search .btn{
	position: relative;
    top: -1px;
    height: 50px;
	line-height: 50px;
}

.btn{
	height: 30px;
	line-height: 30px;
	color: #FFFFFF;
	border: 0px;
	outline: 0;
	cursor: pointer;
	background-color: #2196f3;
	padding: 0 20px;
	display: inline-block;
}

.title{
	font-size: 28px;
	font-family: "Gotham";
	text-align: center;
	color: #000000;
	margin-bottom: 20px;
	display: block;
}

#latest{
	background-color: #90caf9;
	padding: 40px 0;
}

.card{
	padding: 10px;
	border-radius: 4px;
	background-color: #FFFFFF;
	text-align: center;
}

.card img{
	max-width: 100%;
	box-shadow: 0px 2px 3px rgba(0,0,0,.45);
}

.price{
	color: #2196f3;
	font-weight: 700;
	margin: 10px 0;
	display: block;
	font-size: 18px;
}

.card p{
	color: #696969;
	font-style: italic;
}

.tbl{
	width: 100%;
	margin-top: 20px;
}

.tbl td{
	padding: 10px 0;
	font-size: 16px;
}

.btn-block{
	width: 100%;
	display: block;
	height: 30px;
	line-height: 30px;
}

#quotes{
	background-image: url("../img/quotes.jpg");
	background-size: cover;
	background-position: center center;
	background-blend-mode: soft-light;
	background-color: rgba(0,0,0,.45);
	color: #FFFFFF;
}

#quotes center{
	padding: 100px 0;
}

#featured{
	padding: 40px 0;
}

.featured-img{
	background-image: url("../img/featured.jpg");
	background-blend-mode: soft-light;
	background-color: rgba(0,0,0,.65);
	background-size: cover;
	height: calc(100vh - 80px);
}

.featured-img h2{
	line-height: calc(100vh - 80px);
	margin: 0 20px;
	height: calc(100vh - 80px);
	color: #FFFFFF;
	text-align: center;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}


.card-container{
	height: calc(100vh - 80px);
	display: table;
	vertical-align: middle;
}
.card-container .card{
	margin-top: 30px;
}

.nav{
	list-style-type: none;
}

.nav > li{
	display: inline-block;
}

.nav > li > a{
	color: #FFFFFF;
	font-family: "Gotham";
	font-size: 16px;
	padding: 10px 20px;
}

#service{
	padding: 20px 0;
	background-color: #3b719c;
	color: #FFFFFF;
}

.service i{
	float: left;
	width: 75px;
}

#method{
	background-color: #eeeeee;
	padding: 30px 0px 50px 0;
}

#method center{
	margin-top: 30px;
	display: block;
}

#method img{
	padding: 0px 10px;
}

#list-book{
	background-image: url("../img/list.jpg");
	background-blend-mode: soft-light;
	background-color: rgba(0,0,0,.45);
	background-size: cover;
	background-position: center center;
	padding: 60px 0;
	text-align: center;
	color: #FFFFFF;
	font-weight: "Gotham";
	font-size: 24px;
	margin-bottom: 20px;
}

.nav-page{
	list-style-type: none;
	margin-top: 20px;
}

.nav-page > li{
	display: inline-block;
}

.nav-page > li > a{
	display: block;
	padding: 5px 10px;
	background-color: #FFFFFF;
	color: #000000;
	border: 1px solid #000000;
	margin-left: -1px;
}

.nav-page > li > a.active{
	background-color: #000000;
	color: #FFFFFF;
	box-shadow: inherit;
}

.message{
	padding: 0 10px;
    background-color: #29b6f6;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 50px;
    margin-bottom: 10px;
}

.message i{
	cursor: pointer;
}

.img-full{
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
}

.footer{
	padding: 70px;
	background-color: #263238;
	color: #FFFFFF;
}

.footer p{
	font-family: "Gotham";
	font-size: 15px;
	margin-top: 30px;
	display: block;
}

/* kode untuk semua */

.fl{
	float: left;
	display: block;
}

.fr{
	float: right;
	display: block;
}

label{
	margin-bottom: 5px;
	display: block;
	font-weight: 700;
}

.form-group{
	display: block;
	margin-bottom: 15px;
}

.form-control{
	display: inline-block;
	width: 100%;
	padding: 0 10px;
	line-height: 30px;
	height: 30px;
	outline: 0;
	font-family: "Roboto";
}

/* kode untuk responsive */


.container{
	width: 1100px;
	display: block;
	position: relative;
	margin: 0 auto;
}


.row{
	margin: 0px -15px;
}

.col{
	padding: 0px 15px;
	position: relative;
	float: left;
}

.md-2{
	width: 16.6666667%;
}

.md-3{
	width: 25%;
}

.md-4{
	width: 33.3333333%;
}

.md-5{
	width: 41.6666667%;
}

.md-6{
	width: 50%;
}

.md-7{
	width: 58.3333333%;
}

.md-8{
	width: 66.6666667%;
}

.md-9{
	width: 75%;
}

.md-12{
	width: 100%;
}

.clearfix::after, .row::after{
	content: ' ';
	display: block;
	clear: both;
}
